<div class="page-title">
  Male Models
</div>
<div class="models">
  <% @men.each do |m| %>
    <%= render partial: 'shared/model', locals: { model: m } %>
    <%= link_to('Edit', model_edit_path(m), class: 'btn') %>
  <% end %>
</div>