<div class="page-title">
  Male Models
</div>
<div class="models">
  <% @men.each do |m| %>
    <%= render partial: 'shared/model', locals: { model: m } %>
    <div class='model-tools' data-id='<%= m.id %>'>
      <%= link_to('Edit', model_edit_path(m), class: 'btn') %>
      <%= link_to('Delete', 
        model_delete_path(m.id),
        class: 'btn',
        remote: true,
        method: :delete
      ) %>
    </div>
  <% end %>
</div>