body.devise-sessions {
  nav {
    margin-bottom: $margin * 5;
  }
}

body.admin {
  .admin-controls {
    ul {
      @include center;
      display: block;
      width: 524px;
    }

    li {
      float: left;
      margin-left: $margin / 2;
      margin-right: $margin / 2;
      text-align: center;

      &.selected a {
        background: $white;
        color: $black;
        font-weight: bold;
      }
    }

    a {
      @extend .btn;
      text-align: center;
      width: 150px;
    }
  }

  .btn-confirm-model {
    background: $palette-green;
    z-index: 1001;
    position: absolute;
    top: 6px;
    right: 6px;
  }
}