div.grid
    {
        width: 760px;
        line-height: 0;
        border: white;
        border-width: 1px 1px 1px 1px;
        text-align: -webkit-center;
        text-float: right;
    }

    h3.become-model {
	text-align: -webkit-center;
	padding-bottom:20px;
	position: relative;
}