<footer>
  <div class="social">
    <%= link_to fa_icon('facebook'), '#' %>
    <%= link_to fa_icon('twitter'), '#' %>
    <%= link_to fa_icon('instagram'), '#' %>
  </div>
  <div class="copyright">
    © Copyright 2017 Yen Models, Inc. All Rights Reserved.
  </div>
  <div class="admin-login">
    <%= link_to 'Admin Login', admin_path %>
  </div>
</footer>