<footer>
  <div class="social">
    <%= link_to fa_icon('facebook'), '#' %>
    <%= link_to fa_icon('twitter'), '#' %>
    <%= link_to fa_icon('instagram'), '#' %>
  </div>
  <div class="copyright">
    <span>© Copyright 2017 Yen Models, Inc.</span>&nbsp;<span>All Rights Reserved.</span>
  </div>
  <div class="admin-login">
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</footer>
