<nav>
  <div class="logo"></div>
  <ul class="left">
    <li><a href="/women">Women</a></li>
    <li><a href="/men">Men</a></li>
    <li><a href="/new_talent">New Talent</a></li>
    <!-- <li><a href="/photographers">Photographers</a></li> -->
  </ul>
  <ul class="right">
    <li><a href="/become_a_model">Become a Model</a></li>
    <li><a href="/our_story">Our Story</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
  <%= fa_icon('bars 2x') %>
</nav>
<div class="company">
  <div class="company-backdrop"></div>
  <div class="company-name-foxes">Foxes</div>
  <div class="company-name-fotography">Fotography</div>
</div>