<div id="carousel">
  <div><img src='<%= image_path('carousel-0.jpg') %>'></div>
  <div><img src='<%= image_path('carousel-1.jpg') %>'></div>
  <div><img src='<%= image_path('carousel-2.jpg') %>'></div>
</div>