<div class="page-title">
  Our Story
</div>

<div class="our-story-intro">
  <p>Our story began in a land of perpetual sun, pristine beaches and beautiful people, Florida USA! Foxes Fotography Inc. was begun to allow models of all types to pursue a career in modeling, be it part-time or full-time. We help models enter the industry by bringing them together with the best photographers from around the globe who will allow them to develop at their own pace and get training and experience in all aspects of the industry. With decades of experience across all areas, we are here to mold and guide models in what can be a daunting and frightening prospect, becoming a professional model.</p>


  <p>Foxes Fotography Inc. has two core concepts that are critical to our success and without which we will not operate, honesty and professionalism. Every model, photographer and staff member is treated as part of the family and held to our high standards of honesty contractualism. Contracts, photo shoots, and all dealings within our family are done with the utmost respect for all involved.  Transparency and unquestionable ethics and honesty.  We will have it no other way!</p>
</div>



<div><img src='<%= image_path('Markandgirl') %>'></div>
