<div class="page-title">
  Our Story
</div>

<div class="our-story-intro">
  <p>My name is Mark and I like to take pictures of hot chicks, therefore I made a modelling agency</p>
  <p> Here's a picture of me and one of my soon to be nude models</p>
</div>



<div><img src='<%= image_path('Markandgirl') %>'></div>
<%= 
