// Sizing and Dimensions
$margin: 24px;
$padding: 10px;
$skew: -12deg;

$global-max-width: 1024px;
$header-height: 46px;
$form-vertical-max-width: 450px;

$z-index-low: 100;
$z-index-medium: 500;
$z-index-high: 1000;