$white: #fff;
$black: #1a1a1a;

$palette-gray-darker: #222;
$palette-gray-dark: #333;
$palette-gray-medium: #ccc;
$palette-gray-light: #efefef;
$palette-gray-lightest: #fbfaf4;

$palette-green-light: #36f485;
$palette-green: #04a748;

$palette-red: #f44336;
$palette-red-dark: #74201a;

$palette-yellow: #f3a012;