<div class="page-title">
  Become a Model
</div>

<div class="become-a-model-intro">
  If you are interested in modeling, we would like to see pictures of you using the form below. <br>Kindly fill in the details required and please do not use nude or filter photos.<br> We very much appreciate your submission and taking the time to contact us.
</div>

<%= render partial: 'shared/model_form', locals: {
  model: @model,
  url: become_a_model_create_path
} %>