<div class="page-title">
  Become a Model
</div>



<h3 class="become-model"> If you are interested in modeling, we would like to see pictures of you using the form below. <br>Kindly fill in the details required and please do not use nude or 		filter photos.<br> We very much appreciate your submission and taking the time to contact us.
</h3>



<form class="become-model">
      <h1> Personal Information </h1>






      	<input type="text" name="name" placeholder="Name" required/>
		<input type="integer" name="gender" placeholder="Gender" required/>
		<input type="text" name="height" placeholder="Height" required/>
		<input type="text" name="weight" placeholder="Weight" required/>
		<input type="text" name="bust" placeholder="Bust" required/>
		<input type="text" name="waist" placeholder="Waist" required/>
		<input type="text" name="hips" placeholder="Hips" required/>
		<input type="text" name="cup" placeholder="Cup" required/>
		<input type="text" name="dress" placeholder="Dress" required/>
		<input type="text" name="shoe" placeholder="Shoe" required/>
		<input type="text" name="hair_color" placeholder="Hair Color" required/>
		<input type="text" name="hair_length" placeholder="Hair Length" required/>
		<input type="text" name="eye_color" placeholder="Eye Color" required/>
		<input type="text" name="ethnicity" placeholder="Ethnicity" required/>
		<input type="text" name="skin_color" placeholder="Skin Color" required/>
		<input type="boolean" name="nudes" placeholder="Nudes" required/>
		<input type="text" name="tattoos" placeholder="Tattoos" required/>
		<input type="text" name="piercings" placeholder="Piercings" required/>
		<input type="text" name="experience" placeholder="Experience" required/>
		<input type="text" name="compensation" placeholder="Compensation" required/>
           

 
  	<input type="submit" value="Send">
</form>

