.btn {
  border: 1px solid rgba(255, 255, 255, .1);
  color: $white;
  padding: $margin / 2;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-weight: normal;
  border-radius: $margin / 2;
  transition: all .25s ease;

  &:hover, &:active, &:focus {
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    text-shadow: 0px 0px 4px $white;
  }
}

.btn-red {
  color: $palette-red;
}

.btn-green {
  color: $palette-green;
}

.btn-default {
  color: $palette-gray-dark;
}