#carousel {
  overflow: hidden;
  top: 0px;
  width: 100%;
  z-index: 999;

  .slick-list {
    height: 100%;
    width: 100%;
  }

  .slick-slide {
    img {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
    transform: translate3d(0, 0, 0);
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
    transform: none;
  }

  .slick-prev, .slick-next {
    z-index: 1;
    top: 47%;

    @include breakpoint(673px) {
      top: 43%;
    }
  }

  .slick-prev {
    left: $margin
  }

  .slick-next {
    right: ($margin * 2) + 24px;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 60px;
    opacity: 0.5;
  }
}
