form {
  @include center;
  @include fontawesome-checkboxes;
  @include shadow(0px, 0px, $margin / 2, $margin / 3, rgba(255, 255, 255, 0.1));
  background: lighten($palette-purple-dark, 3%);
  border-radius: $margin / 2;
  border: 1px solid $white;
  font-size: $font-size-large;
  margin-bottom: $margin * 3;
  padding: $margin;
  top: $margin * 2;
  width: 520px;

  div {
    margin-top: $margin / 2;
  }

  textarea {
    resize: none;
  }

  input[type=text],
  input[type=email],
  input[type=integer],
  input[type=boolean],
  input[type=password],
  select,
  textarea {
    font-size: $font-size-big;
    margin-top: $margin;
    padding: $margin / 2;
    width: 100%;

    &, &:focus {
      border: 1px solid $black;
      border: none;
      outline: none;
    }
  }

  input[type=password] {
    margin-bottom: $margin;
  }

  textarea {
    height: 120px
  }

  input[type=submit] {
    @extend .btn;
    @include center;
    border: none;
    font-size: $font-size-big;
    margin-top: $margin;
    padding: $margin / 2;
    width: 100%;
  }

  .form-heading {
    margin-bottom: $margin;
    text-align: center;
  }

  .form-heading-title {
    font-size: $font-size-giant;
  }

  .form-heading-links {
    font-size: $font-size-base;
    font-style: italic;
    margin-bottom: $margin * 2;
    margin-top: $margin * 2;

    a {
      font-weight: bold;
    }
  }

  .form-submit-wrapper {
    input[type=submit] {
      background: $palette-green;
      border: none;
      color: $white;
      font-size: $font-size-large;
      padding: $margin / 3;

      &:hover, &:active, &:focus {
        background: lighten($palette-green, 5%);
      }
    }
  }

  .form-rememberable {
    display: inline-block;
    margin-bottom: $margin / 2;
    margin-top: $margin;
    padding-left: 2px;
  }

  .form-footer-links {
    clear: both;
    font-size: $font-size-base;
    font-style: italic;
    margin-bottom: $margin / 3;
    margin-top: $margin;
    text-align: center;
  }

  @include breakpoint(570px) {
    border-radius: 0;
    width: 100%;
  }
}

iframe {
  
  border-radius: 10px;
}