*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

body {
  -webkit-overflow-scrolling: touch;
  background: $palette-purple-dark;
}

