footer {
  clear: both;
  margin: $margin * 4;

  div {
    @include center;
    margin-top: $margin;
    margin-bottom: $margin;
    text-align: center;
    width: 410px;
  }

  .social a {
    height: 52px;
    display: inline-block;
  }

  .fa {
    font-size: $font-size-ginormous;
    margin-left: $margin;
    margin-right: $margin;
    transition: all .25s ease;
    text-shadow: 0px 0px 0px $white;

    &:hover {
      text-shadow: 0px 0px 4px $white;
    }
  }
}
