nav {
  background: rgba(8, 6, 19, 0.75);
  height: 46px;
  position: relative;
  z-index: 1004;
  display: block;

  .logo {
    float: left;
    background-image: url(image-path('logo'));
  }

  li {
    display: inline-block;

    a {
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      display: block;
      font-size: $font-size-big;
      padding-bottom: $margin / 4;
      padding-top: $margin / 2;
      text-align: center;
      transition: all .25s ease;

      &:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        text-shadow: 0px 0px 4px $white;
      }
    }
  }

  ul {
    display: block;
  }

  ul.left {
    li {
      margin-left: $margin / 2;
    }
  }

  ul.right {
    li {
      margin-right: $margin / 2;
    }
  }

  i {
    display: none !important;
  }

  @include breakpoint(673px) {
    ul.right {
      background: rgba(8, 6, 19, 0.75);
      top: 46px;
      position: fixed;
      right: -22px;
      display: none;
      transform: skew(12deg);

      &.shown {
        display: block;
      }

      li {
        display: block;
        float: none;
        width: 190px;

        a {
          border-bottom: none;
          transform: skew(-12deg);
          text-align: left;
          padding-left: 12px;
        }
      }
    }

    i {
      color: $white;
      display: block !important;
      position: fixed;
      right: 12px;
      top: 6px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}