nav {
  background: rgba(8, 6, 19, 0.75);
  height: 46px;
  position: relative;
  z-index: 1000;

  li {
    display: inline-block;

    a {
      display: block;
      text-align: center;
      padding-top: $margin / 2;
      padding-bottom: $margin / 4;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      font-size: $font-size-big;
      transition: all .25s ease;

      &:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        text-shadow: 0px 0px 4px $white;
      }
    }
  }

  ul.left {
    li {
      margin-left: $margin / 2;
    }
  }

  ul.right {
    li {
      margin-right: $margin / 2;
    }
  }
}

.company-backdrop, .company {
  position: absolute;
  text-shadow: 0px 0px 0px $white;
  transition: all .25s ease;

  &:hover, &:active, &:focus {
    cursor: pointer;
    text-shadow: 0px 0px 4px $white;
  }
}

.company-backdrop {
  background: rgba(8, 6, 19, 0.75);
  height: 56px;
  width: 362px;
  left: -27px;
  z-index: 1000;
  transform: skew(-12deg);
}

.company {
  @extend .title;
  color: $white;
  top: $header-height;
  left: 0;
  z-index: 1001;

  .company-name-yen, .company-name-models {
    position: relative;
    z-index: 1002;
  }

  .company-name-yen {
    font-size: $font-size-ginormous * 1.5;
    top: 13px;
    left: 12px;
  }

  .company-name-models {
    font-size: $font-size-huge * 1.5;
    top: 4px;
    left: 150px;
  }
}