<div>
  <p>Hello <span id='existing-inquirer-name'>{{name}}</span>,</p>

  <p>We successfully received the following inquiry from you...</p>

  <p><i><blockquote id='existing-inquirer-message'>"{{message}}"</blockquote></i></p>

  <p>We will respond to you at <span id='existing-inquirer-email'>{{email}}</span> or <span id='existing-inquirer-phone'>{{phone}}</span> as soon as we can.</p>

  <p>Thank you for your patience.</p>
</div>
<a id='create-additional-inquiry' class='btn btn-primary' href="#">Create Another Inquiry</a>