<div>
  Hello <span id='existing-inquirer-name'>{{name}}</span>,<br>
  We successfully received the following inquiry from you...<br>
  <i><span id='existing-inquirer-message'>{{message}}</span></i><br>
  We will respond to you at <span id='existing-inquirer-email'>{{email}}</span> or <span id='existing-inquirer-phone'>{{phone}}</span> as soon as we can.<br>
  Thank you for your patience.
</div>
<a id='create-additional-inquiry' class='btn' href="#">Create Another Inquiry</a>