<div class="page-title">
  Contact Us
</div>
<div class="centered">
  <h3 class="contact-address">Somewhere In Florida</h3>
</div>
<form action="https://formspree.io/roxanaguinea@gmail.com"
  method="POST" class="enrol validate">
  <input type="text" name="name" placeholder="Name" required/>
  <input type="email" name="_replyto" placeholder="Email" required/>
  <input type="text" name="phone" placeholder="Phone" required/>
  <input type="text" name="Facebook Page" placeholder="Facebook" optional/>
  <textarea name="message" placeholder="Message"required/></textarea>
  <input type="submit" value="Send"/>
</form>