<div class="page-title">
  Contact Us
</div>

<div id="existing-inquirer" class='hide'></div>

<form action="https://formspree.io/thisisvaldasvabolis@gmail.com"
  method="POST" class="enrol validate" id="inquiry-form">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" required/>
  </div>
  <div>
    <label for="_replyto">Email</label>
    <input type="email" name="_replyto" required/>
  </div>
  <div>
    <label for="phone">Phone</label>
    <input type="text" name="phone" required/>
  </div>
  <div>
    <label for="Facebook Page">Facebook Profile</label>
    <input type="text" name="facebook" optional/>
  </div>
  <div>
    <label for="message">Message</label>
    <textarea name="message" required/></textarea>
  </div>
  <div class="form-submit-wrapper">
    <input type="submit" value="Send"/>
  </div>
  
</form>